body {
	color:white;
	font-weight: bold;
	font-family: 'Rambla', sans-serif;
	text-shadow: 1.5px 1.5px black;
}

html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.location {
	text-align: center;
	margin-top: 4em;
}
.weather {
	text-align: center;
	margin-bottom: 2em;
}
.city {
	font-size: 2.5em;
	color: white;
	margin-bottom: 0;

}
.country {
	font-size: 1em;
	font-style: italic;
	margin-top: 0px;
}
.condition {
	margin-top: 0px;
}

.temperature {
	margin:0px;
	font-size: 5em;
	height: 80px;

}
.icon-container {
	margin:0px;
}


.quote {
	margin-top: 3em;
	margin: 0;
	text-align: center;
}
